$text-color: #fff;
$button-color:#FF0A0A;
$green:#007A20;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,html{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin:0;
    position: relative;
    height: 100%;
}

.modal-content{
    width:100%;
    height:100%;
    display: none;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    z-index: 9999;
    .inn{
        background-color: #fff;
        height:500px;
        float: right;
        width:100%;
        padding: 20px 0px;
    }

    .cancel{
        height:30px;
        width:100%;
        padding: 10px 30px 30px 0;
        .fa-times{
            font-size:20px;
            float: right;
            
        }
    }
    

    ul{
        margin: auto;
        padding:0;
       // text-align: center;
        li{
            list-style: none;
            padding: 15px 30px;;color: #444444;
            // border-bottom:1px solid #f7f7f7;
            a{
                color: #444444;
                button{
                    height:45px;
                    padding:5px;
                    color:#fff;
                    border:none;
                    width:160px;
                    margin-top:-10px;
                    font-size:15px;
                    background-color:$button-color;
                    border-radius: 5px 25px 25px 5px;
                    box-shadow:0 5px 10px rgba(0,0,0, 0.16) ;
                }
            }
        }
    }
}

section{
    width:100%;
    height:100%;
    background-image:linear-gradient(to bottom right, rgba(#007a20,0.9),rgba(#a63012,0.9)),url(images/ban.jpg);
    background-position: 70% 15%;
    background-size:cover;
    position: relative;
    padding-bottom:100px;

    header{
        width:100%;
        height:60px;
        padding:30px 80px 0 80px;
        .logo{
            img{
                width:50px;
                height:34px;
            }
            float:left;
            margin-top:10px;
            margin-left:25px;
        }

        .mobile{
            display: none;
        }
        ul{
            float:right;
            padding-top: 10px;
            li{
                list-style: none;
                float:left;
                margin-right: 35px;;
                color:$text-color;
                font-weight:500;
                cursor: pointer;
                font-size:17px;
                transition: 0.3s ease-in-out;
                a{
                    color:$text-color;
                    font-size:17px;
                    transition: 0.3s ease-in-out;
                    font-weight:500;
                    button{
                        height:45px;
                        padding:5px;
                        color:#fff;
                        border:none;
                        width:150px;
                        margin-top:-10px;
                        font-size:15px;
                        font-weight: 700;
                        border-radius: 5px 25px 25px 5px;
                        background-color:$button-color;
                        box-shadow:0 5px 10px rgba(0,0,0, 0.16) ;
                    }
                }
                a:hover{
                    text-decoration: none;
                    color:$button-color;
                    font-size:16px;
                }
            }
            li:hover{
                text-decoration: none;
                color:$button-color;
                font-size:16px;
            }
        }
        i{
            float: right;
            display: none !important;
            //color:#fff;
        }

    }
    @media only screen and (max-width:320px){
       height: 400px;
       header{
           padding:15px 15px 0 15px; 
           background-color: #fff;
           .logo{
               margin-left: 0;
               img{
                   width:40px;
                   height:30px;
               }
           }
           .desktop{
               display: none;
           }
           .mobile{
            display: block;
        }
           ul{
               display: none;
           }
           i{
            display: block !important;
            margin-right:30px;
            margin-top:15px;
            font-size:16px;
            cursor: pointer;
        }
       }
        
         
    }
    

    @media only screen and (min-width:321px) and (max-width:540px){
        height: 400px;
        background-image:linear-gradient(to bottom right, rgba(#007a20,0.7),rgba(#a63012,0.7)),url(images/mission.jpg);
        background-position: 150% 15%;
        header{
            padding:10px 0px 0 30px; 
            background-color: #fff;
            .logo{
                margin-left: 0;
                img{
                    width:35px;
                    height:20px;
                }
            }
            .desktop{
                display: none;
            }
            .mobile{
             display: block;
         }
            ul{
                display: none;
            }
            i{
             display: block !important;
             margin-right:30px;
             margin-top:15px;
             font-size:16px;
             cursor: pointer;
         }
        }
        .container{
            padding:0 30px;
        }
       
         
    }
    @media only screen and (min-width:541px) and (max-width:720px){
        .container{
            padding: 0 50px;
        }
        header{
            padding:30px 35px 0 35px;
            .logo{
                margin-left: 0;
                img{
                    width:40px;
                    height:30px;
                }
            }
            .desktop{
                display: none;
            }
            .mobile{
             display: block;
         }
            ul{
                display: none;
            }
            i{
                display: block !important;
                margin-right:20px;
                margin-top:15px;
                font-size:20px;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width:721px) and (max-width:1024px){

    }
}

    .caption{
        color:$text-color;
        padding-top: 150px;
        .caption_text{
            width:100%;
        }
        
        h2{
            font-weight: 700;
            font-size:45px;
            letter-spacing: 1.2px;
            line-height: 50px;
        }
        p{
            line-height: 30px;
            letter-spacing: 0.7px;
            font-size:22px;
            margin-top: 20px;;
        }
        .links{
            margin-top:100px;
            a{
                button.campaign{
                    height:50px;
                    padding:5px;
                    color:$button-color;
                    border:none;
                    width:200px;
                    margin-top:-10px;
                    font-size:17px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                    background-color:$text-color;
                }
                .influencer{
                    background-color: transparent;
                    border:none;
                    margin-left: 20px;;
                }
            }
        }
        .col-md-6{
            .image-banner{
                overflow: hidden;
                margin-top: -20px;
                img{
                    margin-top: -100px;
                    margin-left: -100px;
                    width:700px;
                    height:620px;
                }
                // background-image: url(../images/andy-art-t-WkBEOQngs-unsplash.png);
                // width:100%;
                // height:600px;
                // background-size:cover;
                
            }
        }
       
        @media only screen and (max-width:320px){
            padding-top:20px;
            .row{
                width:100%;;
                margin-top:60px;
                .col-md-6{
                    padding-right: 0;
                    p{
                        text-align: justify;
                    }
                    .links{
                        margin-top:30px;
                       a{
                        button{
                            float: left;
                            display: inline-block;
                        }
                        button.campaign{
                            height:40px;
                            width:150px;
                            font-size:14px;
                        }
                       }
                    }
                }
                //padding-left:20px;
            }
            h2{
                font-size:25px;
                line-height: 25px;;
            }
            p{
                font-size:13px;
                line-height: 25px;;
            }
            .image-banner-contain{
                display: none;;
            }
        }

        @media only screen and (min-width:321px) and (max-width:540px){
            padding-top:20px;
            .row{
                width:100%;;
                margin-top:60px;
                .col-md-6{
                    padding-right: 0;
                    .links{
                        margin-top:30px;
                       a{
                        button.campaign{
                            height:40px;
                            width:150px;
                            font-size:14px;
                        }
                       }
                    }
                }
                //padding-left:20px;
            }
            h2{
                font-size:25px;
                line-height: 25px;;
            }
            p{
                font-size:13px;
                line-height: 25px;;
            }
            .image-banner-contain{
                display: none;;
            }
        }
        @media only screen and (min-width:541px) and (max-width:720px){
            padding-top:20px;
            .row{
                width:100%;;
                margin-top:60px;
                .col-md-6{
                    padding-right: 0;
                    p{
                        text-align: justify;
                    }
                    .links{
                        margin-top:30px;
                       a{
                        button{
                            float: left;
                            display: inline-block;
                        }
                        button.campaign{
                            height:40px;
                            width:150px;
                            font-size:17px;
                        }
                        .influencer{
                            margin-left: 15px;
                        }
                       }
                    }
                }
                //padding-left:20px;
            }
            h2{
                font-size:25px;
                line-height: 25px;;
            }
            p{
                font-size:13px;
                line-height: 25px;;
            }
            .image-banner-contain{
                display: none;;
            }
        }
}

.introduction{
    margin-top: 100px;
    .row{
        .col-md-6{
            .text{
                width:80%;
                h5{
                    font-weight: 700;
                    color:$button-color;
                }
                h2{
                    color:#000;
                    font-weight: 800;
                    font-size:40px;
                    line-height: 40px;
                }
                p{
                    font-size:15px;
                    margin-top: 17px;
                }
            }
            .image{
                width:90%;
                float: right;
                height:450px;
                background-image: url(images/intro.jpg);
                background-size: cover;
                background-position: top;
            }
        }
    }
    @media only screen and (max-width:320px){
        margin-top: 30px;
        .row{
            .col-md-6{
                
                .text{
                    width:100%;
                    h5{
                        font-size:15px;
                    }
                    h2{
                        font-size:30px;
                        line-height: 30px;
                    }
                    p{
                        font-size:14px;
                    }
                }
                .image{
                    width:100%;
                    height:300px;
                    margin-top: 30px;;
                }
            }
        }
    }
    @media only screen and (min-width:321px) and (max-width:540px){
        margin-top: 30px;
        .row{
            .col-md-6{
                padding:0 30px;
                .text{
                    width:100%;
                    h5{
                        font-size:15px;
                    }
                    h2{
                        font-size:30px;
                        line-height: 30px;
                    }
                    p{
                        font-size:14px;
                    }
                }
                .image{
                    width:100%;
                    height:300px;
                    margin-top: 30px;;
                }
            }
        }
    }
    @media only screen and (min-width:541px) and (max-width:720px){
        margin-top: 30px;
        .row{
            .col-md-6{
                padding:0 50px;
                .text{
                    width:100%;
                    h5{
                        font-size:15px;
                    }
                    h2{
                        font-size:30px;
                        line-height: 30px;
                    }
                }
                .image{
                    width:100%;
                    height:300px;
                    margin-top: 30px;;
                }
            }
        }
    }
}

.mission{
    background-color: rgba(#F0F0F0,0.6);
    height:660px;
    margin-top: 100px;
    .row{
        .profile-picture{
            padding: 0;
            display: flex;
            .cover-background{
                width:50%;
                height:660px;
                background-color: $green;
            }
            .pics{
                width:50%;
                height:500px;
                background-image: url(images/mission.jpg);
                background-position: 10% 80%;
                background-size: cover;
                margin-top: 80px;
                margin-left: -150px;
            }
        }
        .mission-text{
            padding:80px 0 0 0;

            h5{
                font-weight: 700;
                color:$button-color;
            }
            h2{
                color:#000;
                font-weight: 700;
                font-size:40px;
                line-height: 40px;
            }
            p{
                font-size:14px;
            }
            .container{
               // border:1px solid red;
                padding-right: 100px;
                margin-top:30px ;
                .row{
                    .col-md-3{
                        //border:1px solid blue;
                        margin-bottom: 20px;
                        padding:0;
                        .agenda-image{
                            height:140px;
                            width:140px;
                            border-radius: 70px;
                            background-size:cover;
                            background-position: center;
                        }
                        .first{
                            background-image: url(images/indus.jpeg);
                        }
                        .second{
                            background-image: url(images/agriculture.jpg);
                        }
                        .third{
                            background-image: url(images/health.jpg);
                        }
                        .fourth{
                            background-image: url(images/sport.jpg);
                        }
                        .fifth{
                            background-image: url(images/tourism.jpg);
                        }
                        .sixth{
                            background-image: url(images/woman.jpg);
                        }
                        .seventh{
                            background-image: url(images/youth.jpg);
                        }
                        h3{
                            font-size: 14px;
                            margin-top: 10px;
                            font-weight: 500;
                            margin-left:25px ;
                            //text-align: center;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width:320px){
        margin-top: 50px;
        height:auto;
        padding-bottom: 40px;
        background-color: #fff;
        .row{
            .profile-picture{
                display: none;;
            }
            .mission-text{
                padding:20px 15px 0 15px;
                h5{
                    font-size:16px;
                }
                h2{
                    font-size:30px;
                }
                .container{
                    padding-right: 0;
                    .row{
                        .col-md-3{
                            h3{
                                margin-left: 0;
                                text-align: center;;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width:321px) and (max-width:540px){
        margin-top: 50px;
        height:auto;
        padding-bottom: 40px;
        background-color: #fff;
        .row{
            .profile-picture{
                display: none;;
            }
            .mission-text{
                padding:20px 30px 0 30px;
                h5{
                    font-size:16px;
                }
                h2{
                    font-size:30px;
                }
                .container{
                    padding-right: 0;
                    .row{
                        .col-md-3{
                            h3{
                                margin-left: 0;
                                text-align: center;;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width:541px) and (max-width:720px){
        margin-top: 50px;
        height:auto;
        padding-bottom: 40px;
        background-color: #fff;
        .row{
            .profile-picture{
                display: none;;
            }
            .mission-text{
                padding:20px 50px 0 50px;
                h5{
                    font-size:16px;
                }
                h2{
                    font-size:30px;
                }
                .container{
                    padding-right: 0;
                    .row{
                        .col-md-3{
                            h3{
                                margin-left: 0;
                                text-align: center;;
                            }
                        }
                    }
                }
            }
        }
    }
}

.agenda{
    text-align:center;
    padding:100px 0;
    h2{
        font-size:40px;
        font-weight: 700;
        padding:0 300px;
    }
    p{
        color:#a63012;
        font-size:16px;
        font-weight: 600;
        margin-top: 10px;
    }
    button{
        height:45px;
        padding:5px;
        color:#fff;
        border:none;
        width:16%;
        margin-top:10px;
        font-size:15px;
        font-weight: 600;
        border-radius: 5px 25px 25px 5px;
        background-color:$green;
        box-shadow:0 5px 10px rgba(0,0,0, 0.16) ;
    }
    @media only screen and (max-width:320px){
        padding-top:30px;
       h2{
           font-size:30px;
           padding:0 20px
       }
       button{
           width:50%;
       }
    }
    @media only screen and (min-width:321px) and (max-width:540px){
        padding-top:30px;
       h2{
           font-size:30px;
           padding:0 20px;
       }
       button{
           width:50%;
       }
    }
    @media only screen and (min-width:541px) and (max-width:720px){
        padding-top:30px;
       h2{
           font-size:30px;
           padding:0 50px
       }
       button{
           width:50%;
       }
    }
}

footer{
    width:100%;
    height:200px;
    text-align: center;
    background:linear-gradient(to bottom right, rgba(#007a20,0.9),rgba(#007a20,0.6)) ;
    color:#fff;
    padding-top: 40px;
    img{
        width:50px;
        height:34px;
    }
    h3{
        font-size:20px;
        margin-top: 10px;
    }
    a{
        color:#f0f0f0;
        font-size:17px;
        margin-right: 20px;
    }
}